<div class="card">
  <div class="card-header admin-panel-body-header">
    Players balance
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <ng-container *ngFor="let player of players">
        <div class="form-group row">
          <label [for]="player.id" class="col-5 col-form-label">{{player.name}}: </label>
          <div class="col-4">
            <div (click)=enableBalanceInputs()>
              <input type="number" class="form-control"
                     [name]="player.id.toString()"
                     [(ngModel)]="player.balance"
                     [disabled]="!balanceInputEnabled">
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <button class="btn btn-primary mt-2 text-white" [disabled]="!balanceInputEnabled"
            (click)="onBalanceChangeSubmitted()">Submit
    </button>
  </div>
</div>

