<div class="card">
  <div class="card-header admin-panel-body-header">
    Players balance
  </div>
  <div class="card-body">
    <ng-container *ngFor="let player of players$ | async">
      <div class="form-group row">
        <label for="player" class="col-3 col-form-label">{{player.name}}: </label>
        <div class="col-4">
          <div (click)=enableBalanceInputs()>
            <input type="number" class="form-control" id="player" [value]="player.balance"
            [disabled]="!balanceInputEnabled">
          </div>
        </div>
      </div>
    </ng-container>
    <button class="btn btn-primary mt-2 text-white"
      (click)="disableBalanceInputs()">Submit
    </button>
  </div>
</div>

