.table-container {
  background-image: url('../../../assets/poker-table.png');
  background-repeat: no-repeat;
  height: 95vh;
  background-position: center;

  .cards {
    position: absolute;
    left: 33%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: 115px;
    height: 145px;
    .card-item {
      max-width: 100%;
      height: auto;
    }
  }
}

.welcome-text {
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
}
