.table-container {
  background-image: url('src/assets/poker-table.png');
  background-repeat: no-repeat;
  height: 630px;
  width: 1200px;
  background-position: center;
  margin: 0 auto;
  position: relative;

  .cards {
    display: flex;
    margin: auto;
    position: absolute;
    top: -5%; left: -36%; bottom: 0; right: 0;

    width: 92px;
    height: 120px;
    .card-item {
      border-radius: 5px;
      max-width: 100%;
      height: auto;
    }
  }
}

.action-panel {
  text-align: center;
}
