<div class="table-container">
  <app-timer [gameTimestamp]="(gameTimestamp$ | async)"></app-timer>
  <p class="label round-pot">Round Pot: {{calculateRoundPot()}}</p>
  <div class="cards">
    <ng-container *ngFor="let card of cards">
      <img alt="card" class="card-item m-1 slide-in" [src]='"assets/cards/"+ card.rank + card.suit +".jpg"'/>
    </ng-container>
  </div>
  <p class="label turn-pot">Turn Pot: {{calculateTurnPot()}}</p>
  <div class="player-1-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(1)"
                               [roundPlayer]="getRoundPlayerByTableNumber(1)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(1)">
    </app-player-game-dashboard>
  </div>

  <div class="player-2-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(2)"
                               [roundPlayer]="getRoundPlayerByTableNumber(2)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(2)">
    </app-player-game-dashboard>
  </div>
  <div class="player-3-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(3)"
                               [roundPlayer]="getRoundPlayerByTableNumber(3)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(3)">
    </app-player-game-dashboard>
  </div>
  <div class="player-4-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(4)"
                               [roundPlayer]="getRoundPlayerByTableNumber(4)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(4)">
    </app-player-game-dashboard>
  </div>
  <div class="player-5-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(5)"
                               [roundPlayer]="getRoundPlayerByTableNumber(5)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(5)">
    </app-player-game-dashboard>
  </div>
  <div class="player-6-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(6)"
                               [roundPlayer]="getRoundPlayerByTableNumber(6)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(6)">
    </app-player-game-dashboard>
  </div>
  <div class="player-7-dashboard">
    <app-player-game-dashboard [gamePlayer]="getGamePlayerByTableNumber(7)"
                               [roundPlayer]="getRoundPlayerByTableNumber(7)"
                               [isAdmin]="isAdmin()"
                               (winnerPicked)="onWinnerPicked($event)"
                               *ngIf="getGamePlayerByTableNumber(7)">
    </app-player-game-dashboard>
  </div>
</div>
<div class="action-panel" *ngIf="isPlayerRound()">
  <app-bet-dashboard [sessionPlayer]="getSessionPlayer()"
                     [minBet]="getMaxBet()"
  ></app-bet-dashboard>
</div>
