<div class="table-container">
  <p class="pot round-pot">Round Pot: 1320</p>
  <div class="cards">
    <ng-container *ngFor="let card of (cards$ | async)">
      <img alt="card" class="card-item m-1 slide-in" [src]='"assets/cards/"+ card +".jpg"'/>
    </ng-container>
  </div>
  <p class="pot turn-pot">Turn Pot: 240</p>
  <div class="player-1-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
  <div class="player-2-dashboard">
    <app-player-game-dashboard [hasTurn]="true"></app-player-game-dashboard>
  </div>
  <div class="player-3-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
  <div class="player-4-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
  <div class="player-5-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
  <div class="player-6-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
  <div class="player-7-dashboard">
    <app-player-game-dashboard [hasTurn]="false"></app-player-game-dashboard>
  </div>
</div>
<div class="action-panel">
  <app-bet-dashboard></app-bet-dashboard>
</div>
<h4>{{greeting}}</h4>
