<div class="table-container">
  <div *ngFor="let playerName of playerNames">
    <p>{{playerName}}</p>
  </div>
  <div class="cards">
    <ng-container *ngFor="let card of cards">
      <img alt="card" class="card-item m-1" [src]='"assets/cards/"+ card +".jpg"'/>
    </ng-container>
  </div>
  <div class="player-1-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-2-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-3-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-4-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-5-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-6-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
  <div class="player-7-dashboard">
    <app-player-game-dashboard></app-player-game-dashboard>
  </div>
</div>
<div class="action-panel">
  <app-bet-dashboard></app-bet-dashboard>
</div>
<h4>{{greeting}}</h4>
