<div class="dashboard-container " [ngClass]="{'border-blink' : hasTurn()}">
  <img src="../../../assets/cards/QH.jpg" class="card-hand">
  <img src="../../../assets/cards/3C.jpg" class="card-hand">
  <div class="dashboard-details">
    <li class="list-group-item p-1 nick-item"><strong>{{player.name}}</strong></li>
    <li class="list-group-item p-1 balance-item">{{(player.balance).toLocaleString()}}</li>
  </div>
</div>
<div *ngIf="player.isDealer()">
  <img class="chip-img player-{{player.id}}-chip dealer-chip">
</div>
<div *ngIf="player.hasSmallBlind()">
  <img class="chip-img player-{{player.id}}-chip small-blind-chip">
</div>
<div *ngIf="player.hasBigBlind()">
  <img class="chip-img player-{{player.id}}-chip big-blind-chip">
</div>
