.turn-bid {
  color: white;
  background-color: black;
  opacity: 50%;
  border-radius: 15px;
  text-align: center;
  width: 145px;
  position: relative;
  margin: 0 0 5px 0;
}

.dashboard-container {
  position: relative;
  height: 140px;
  width: 144px;

  .card-hand {
    padding-left: 2px;
    border-radius: 6px;
    width: 70px;
  }
}

.dashboard-details {
  border: 3px goldenrod solid;
  border-radius: 7px;
  width: 140px;
  text-align: center;
  position: absolute;
  bottom: 0;

  .nick-item {
    color: white;
    background-image: linear-gradient(to right, #445588, #4183c4);
  }

  .balance-item {
    background-image: linear-gradient(to right, #E8E8E8, #EAF2F5);
  }
}

.chip-img {
  width: 40px;
  position: absolute;
}

.border-blink {
  border: 3px solid;
  border-radius: 7px;
  -webkit-animation: border-blink 1.5s step-end infinite;
  animation: border-blink 1.5s step-end infinite;
}

@-webkit-keyframes border-blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: black
  }
}

@keyframes border-blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: red;
  }
}


// Dealer chip positions
.player-1-chip {
  top: 75%;
  left: 105%;
}

.player-2-chip {
  top: 75%;
  left: -35%;
}

.player-3-chip {
  top: 40%;
  left: -35%;
}

.player-4-chip {
  top: 15%;
  left: -35%;
}

.player-5-chip {
  top: 10%;
  left: -35%;
}

.player-6-chip {
  top: 15%;
  left: 105%;
}

.player-7-chip {
  top: 40%;
  left: 105%;
}

.dealer-chip {
  content: url('../../../../assets/dealer_chip.png');
}

.small-blind-chip {
  content: url('../../../../assets/small_blind_chip.png');
}

.big-blind-chip {
  content: url('../../../../assets/big_blind_chip.png');
}
