<div class="dashboard-container" [ngClass]="{'border-blink' : roundPlayer?.hasTurn}">
  <p class="turn-bid">{{(roundPlayer?.turnBid).toLocaleString()}}</p>
  <ng-container *ngIf="isSessionPlayer() && isActive() &&  !roundPlayer?.hasFolded">
    <img [src]="'../../../assets/cards/' + (playerCards$ | async)[0]?.rank + (playerCards$ | async)[0]?.suit + '.jpg'" class="card-hand">
    <img [src]="'../../../assets/cards/' + (playerCards$ | async)[1]?.rank + (playerCards$ | async)[1]?.suit + '.jpg'" class="card-hand">
  </ng-container>
  <ng-container *ngIf="!isSessionPlayer() && isActive() && !roundPlayer?.hasFolded">
    <img src="../../../assets/cards/card_back.jpg" class="card-hand">
    <img src="../../../assets/cards/card_back.jpg" class="card-hand">
  </ng-container>
  <div class="dashboard-details" [ngClass]="{'inactive-opacity' : !isActive()}">
    <li class="list-group-item p-1 nick-item"><strong>{{gamePlayer.name}}</strong></li>
    <div class="footer-container">
      <li class="list-group-item p-1 balance-item">{{(roundPlayer?.balance.toLocaleString()) || 0}}</li>
      <button class="btn btn-primary admin-button" *ngIf="isAdmin">
        <img class="money-bill" src="../../../assets/money-bill.png">
      </button>
    </div>
  </div>
</div>
<div *ngIf="gamePlayer.isDealer">
  <img class="chip-img player-{{gamePlayer.tableNumber}}-chip dealer-chip">
</div>
<div *ngIf="gamePlayer.hasSmallBlind">
  <img class="chip-img player-{{gamePlayer.tableNumber}}-chip small-blind-chip">
</div>
<div *ngIf="gamePlayer.hasBigBlind">
  <img class="chip-img player-{{gamePlayer.tableNumber}}-chip big-blind-chip">
</div>
