<div class="card card-container m-0 py-2">
  <div class="card-body p-0">
    <div class="container">
      <div class="row">
        <div class="col-3 bet-range">
          <label for="range">Place bet:</label>
          <input type="range" class="custom-range" id="range" step="100"
                 min="0" [max]="sessionPlayer?.balance" [value]="currentBet"
                 (input)="betValueChanged($event)">
        </div>
        <div class="col-1 p-0">
          <input class="form-control bet-input pr-1" type="number" [value]="currentBet"
                 [max]="sessionPlayer?.balance" step="100" min="0" #bet
                 (input)="betValueChanged($event)">
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-success bet-button p-0"
                  [disabled]="hasNotBet()"
                  (click)="onBetClick(bet.value)">Bet
          </button>
        </div>
        <div class="col"></div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-primary action-button p-0"
                  (click)="onBetClick(0)">Check
          </button>
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-warning action-button p-0">Fold</button>
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-danger action-button p-0"
                  (click)="onBetClick(sessionPlayer?.balance)">All-In</button>
        </div>
      </div>
    </div>
  </div>
</div>
