<div class="card card-container m-0 py-2">
  <div class="card-body p-0">
    <div class="container">
      <div class="row">
        <div class="col-3 bet-range">
          <label for="range">Place bet:</label>
          <input type="range" class="custom-range" id="range" step="100"
                 min="0" [max]="playerBalance" [value]="inputCurrentBet"
                 (input)="betSliderValueChanged($event)">
        </div>
        <div class="col-1 p-0">
          <input class="form-control bet-input pr-1" type="number" [value]="sliderCurrentBet"
                 [max]="playerBalance" step="100"
                 (input)="betInputValueChanged($event)">
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-success bet-button p-0">Bet</button>
        </div>
        <div class="col"></div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-primary action-button p-0">Check</button>
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-warning action-button p-0">Fold</button>
        </div>
        <div class="col-1 pr-1 pl-0">
          <button type="button" class="btn btn-danger action-button p-0">All-In</button>
        </div>
      </div>
    </div>
  </div>
</div>
