<div class="card admin-panel my-3">
  <div class="card-header admin-panel-header">
    Admin Panel
  </div>
  <div class="card-body row">
    <div class="col-4">
      <app-blind-panel [game]="game"></app-blind-panel>
    </div>
    <div class="col-4">
      <app-player-bids-panel
        [roundPlayers]="roundPlayers"
        [gamePlayers]="gamePlayers"
        (playerRemoved)="onPlayerRemoved($event)"
      (playerRoundBidsChanged)="onPlayerRoundBidsChanged($event)"></app-player-bids-panel>
    </div>
  </div>
</div>
