<div class="card">
  <div class="card-header admin-panel-body-header">
    <div>Players RoundBids</div>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <ng-container *ngFor="let player of players">
        <div class="form-group row">
          <label [for]="player.tableNumber" class="col-5 col-form-label">{{player.name}}: </label>
          <div class="col-4">
            <div (click)=enableBalanceInputs()>
              <input type="number" class="form-control"
                     [name]="player.tableNumber.toString()"
                     [(ngModel)]="player.roundBid"
                     (input)="onRoundBidChange($event)"
                     min="0" max="1000000" step="50"
                     [disabled]="!balanceInputEnabled">
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary mt-2 text-white btn-disabled"
                [disabled]="!balanceInputEnabled || roundBidsDifference() != 0"
                (click)="onBalanceChangeSubmitted()">Submit
        </button>
      </div>
      <div class="col-8" *ngIf="roundBidsDifference() != 0">
        <p class="m-0 mismatch-text">
          RoundBids mismatch: <strong>{{(roundBidsDifference()).toLocaleString()}}</strong></p>
      </div>
    </div>
  </div>
</div>

