<div class="card">
  <div class="card-header admin-panel-body-header">
    <div>Players Management</div>
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <ng-container *ngFor="let player of roundPlayers">
        <div class="form-group row">
          <label [for]="player.tableNumber" class="col-5 col-form-label">{{getPlayerName(player.id)}}: </label>
          <div class="col-4">
            <div class="row">
              <div (click)=enableBalanceInputs() class="col-5">
                <input type="number" class="form-control"
                       [name]="player.tableNumber.toString()"
                       [(ngModel)]="player.roundBid"
                       (input)="onRoundBidChange($event)"
                       min="0" max="1000000" step="50"
                       [disabled]="!balanceInputEnabled">
              </div>
              <div class="col-2 pr-1 d-flex align-items-stretch">
                <button class="btn btn-danger">
                  <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          clip-rule="evenodd"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary mt-2 text-white btn-disabled"
                [disabled]="!balanceInputEnabled || roundBidsDifference() != 0"
                (click)="onRoundBidsChangeSubmitted()">Submit
        </button>
      </div>
      <div class="col-8" *ngIf="roundBidsDifference() != 0">
        <p class="m-0 mismatch-text">
          RoundBids mismatch: <strong>{{(roundBidsDifference()).toLocaleString()}}</strong></p>
      </div>
    </div>
  </div>
</div>

